@import "../variables.scss";
.alp-real-logo {
    background: $white;
    padding: 0 10px;
}
.alp-navbar {
    background: $success;
    margin: 1rem 0;
    padding: 10px 10px 0;

    a {
        color: $white;
        padding-left: 1rem;
        padding-right: 1rem;

        &.nav-link.active {
            background: $white;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            color: $success !important;
        }
    }
    .alp-user {
        color: $white;
        padding: 0 0.5rem;

        .alp-user-circle {
            cursor: pointer;
            margin-right: 0.25rem;
        }
    }
}