<nav class="navbar navbar-expand-lg alp-navbar">
    <a class="navbar-brand alp-real-logo" routerLink="/">
        <img src="assets/real-logo-color.svg" width="30" height="30" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/products" routerLinkActive="active" class="nav-link">Products <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/wishlist" routerLinkActive="active" class="nav-link">Wishlist</a>
        </li>
      </ul>
    </div>
    <div class="form-inline">
      <div class="alp-user"><i class="fa fa-user-circle alp-user-circle"></i> James P</div>
    </div>
  </nav>