@import "../variables.scss";

.alp-footer {
    background: $success;
    bottom: 0;
    position: fixed;
    width: 77%;

    ul {
        list-style: none;
        margin-bottom: 0;
    }
    .alp-footer-text {
        color: $white;
        padding: 0.5rem 1rem 0;;
    }
}