<div class="alp-footer">
  <div class="row">
    <div class="col-lg-6">
      <div class="alp-footer-text">
        <p>App developed by Alpesh @2018</p>
      </div>
    </div>
    <div class="col-lg-6 text-right">
      <div class="alp-social-icons">
        <ul class="nav pull-right">
            <li *ngFor="let socialIcon of socialIcons" class="nav-item">
              <a target="_blank" title={{socialIcon.name}} href="{{socialIcon.link}}" class="nav-link">
                <i [ngClass]="socialIcon.iconClass" [style.color]="socialIcon.iconColor"></i>
              </a>
            </li>
          </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>