.alp-card-header {
    text-transform: capitalize;
}
.alp-all-wishlist-panel {
    margin-bottom: 2rem;
}
.alp-wishlist-textbox {
    display: inline-block;
    margin-right: 1rem;
    width: 350px;
}
.btn + .btn {
    margin-left: 0.25rem;
}