.alp-card-header {
    text-transform: capitalize;
}
.alp-all-wishlist-panel {
    margin-bottom: 5rem;
    
    .alp-product-list-container {
        margin-bottom: 0;
    }
}
.alp-wishlist-textbox {
    display: inline-block;
    margin-right: 1rem;
    width: 350px;
}
.btn + .btn {
    margin-left: 0.25rem;
}
.alp-edit-wishlist-icon {
    cursor: pointer;
}