.alp-pagination {
    display: flex;
    justify-content: center;
}
.alp-filtes-container {
    margin-bottom: 1rem;
}
.alp-single-product-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 400px;
    margin-bottom: 1rem;
    max-height: 500px;
    padding: 1rem;
    width: 255px;
}
.alp-main-title {
    margin: 1rem 0;
}