.alp-pagination {
    display: flex;
    justify-content: center;
}
.alp-filters-container {
    margin-bottom: 1rem;
}
.alp-single-product-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 300px;
    margin-bottom: 1rem;
    max-height: 500px;
    padding: 1rem;
    width: 160px;
    min-width: 160px;
}
.alp-sorting-filter {
    display: inline-block;
    margin-right: 1rem;
}
.alp-single-product-name,
.alp-single-product-image {
    margin-bottom: 0.5rem;
}
.alp-single-product-image {
    width: 135px;
    height: 135px;
}
.alp-single-product-price {
    font-size: 2rem;
    text-align: center;
    border-top: 1px solid #ddd;
}
.alp-text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.clear {
    clear: both;
}
.alp-times-circle {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 11%;
    top: 15%;
}