/* You can add global styles to this file, and also import other style files */

.alp-single-product-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 400px;
    margin-bottom: 1rem;
    max-height: 500px;
    padding: 1rem;
    width: 250px;
}
.alp-main-title {
    margin: 1rem 0;
}
