/* You can add global styles to this file, and also import other style files */
@import "./app/variables.scss";
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "./app/app.component.scss";
@import "./app/header/header.component.scss";
@import "./app/product/product.component.scss";
@import "./app/wishlist/wishlist.component.scss";

.alp-pagination {
    display: flex;
    justify-content: center;
    li.page-item {
        &.active a.page-link {
            color: #fff;
            background-color: $success;
            border-color: $success;
        }

        a.page-link {
            color: $success;
        }
    }
}